<md-list style="height:100%;">
  <div class="list-header" style="margin-top: 20px">
    Max samples
  </div>
  <md-list-item style="margin-top: 10px;">
    <md-input style="width: 100%;" dividerColor="accent"  color="accent" value="5000"></md-input>
  </md-list-item>

  <div class="list-header" style="">
    Resolution
  </div>
  <md-list-item style="margin-top: 10px;">
    <table style="width: 100%" cellspacing="0" style="padding-top: 20px;">
      <tr>
        <td><md-input placeholder="Width" style="width: 100%" dividerColor="accent" color="accent" value="512"></md-input></td>
        <td><md-input placeholder="Height" value style="width: 100%" dividerColor="accent"  color="accent" value="512"></md-input></td>
      </tr>
    </table>
  </md-list-item>
  <md-list-item>
    <button md-raised-button color="primary" (click)="_renderService.scene.saveSceneToFile()" style="margin-top: 30px;">Save scene to .JSON</button>
  </md-list-item>
</md-list>
