<md-list style="height:100%;">
  <md-list-item style="margin-top: 10px;">
    <table style="width: 100%" cellspacing="0">
      <tr>
        <td><md-input placeholder="Samples" dividerColor="accent"  color="accent" value="{{_renderService.maxSamples}}" (change)="onMaxSamplesChange($event)"></md-input></td>
        <td><md-input placeholder="Trace depth" value style="width: 100%" dividerColor="accent"  color="accent" (change)="onTraceDepthChange($event)" value="{{_renderService.traceDepth}}"></md-input></td>
      </tr>
    </table>
  </md-list-item>

  <md-list-item style="margin-top: 10px;">
    <table style="width: 100%" cellspacing="0" style="padding-top: 20px;">
      <tr>
        <td><md-input placeholder="Width" style="width: 100%" dividerColor="accent" color="accent" value="512"></md-input></td>
        <td><md-input placeholder="Height" value style="width: 100%" dividerColor="accent"  color="accent" value="512"></md-input></td>
      </tr>
    </table>
  </md-list-item>

  <md-list-item>
    <button md-raised-button (click)="loadObj()" style="margin-top: 30px; background-color: #FF4081; width: 100%; color:#fff;">Load object</button>
    <!--<input type="file" id="load_obj" style="visibility: hidden;">-->
  </md-list-item>

  <md-list-item>
    <button md-raised-button (click)="_renderService.scene.saveSceneToFile()" style="margin-top: 30px; background-color: #FF4081; width: 100%; color:#fff;">Save scene</button>
  </md-list-item>

  <div class="list-header" style="padding-top: 10px;">
    Load default scene
  </div>
  <md-list-item>
    <button md-raised-button (click)="createDefaultScene1()" style="margin-top: 5px; background-color: #aaa; width: 100%; color:#fff;">
      HDR teapot, bunny
    </button>
  </md-list-item>
  <md-list-item>
    <button md-raised-button (click)="createDefaultScene2()" style="margin-top: 5px; background-color: #aaa; width: 100%; color:#fff;">
      HDR stanford dragon
    </button>
  </md-list-item>
  <md-list-item>
    <button md-raised-button (click)="createDefaultScene3()" style="margin-top: 5px; background-color: #aaa; width: 100%; color:#fff;">
      Room teapot, bunny
    </button>
  </md-list-item>
  <md-list-item>
    <button md-raised-button (click)="createDefaultScene4()" style="margin-top: 5px; background-color: #aaa; width: 100%; color:#fff;">
      Room stanford dragon
    </button>
  </md-list-item>
</md-list>
