.app-root {
}

#main-content {
  width: 900px;
  margin: auto;
}

#right-pane {
  position: absolute;
  width: calc(1200px - 512px);
  height: 100%;
}
#left-pane {
  position: absolute;
  width: calc(1200px - 512px);
  height: 100%;
}
#render-pane {
  width: 512px;
}

#render-canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 512px;
  border-radius: 3px;
}

.render-card {
  padding: 0px !important;
}

.main-title {
  font-size: 35pt;
  margin: auto;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  color: #222;
}

#render-progress-container {
  margin: auto;
  width: 50px;
  height: 50px;
  position: relative;
}

.bottom-bar {
  width: 450px;
  margin: auto;
}

.play-buttons {
  margin: auto;
  width: 150px;
}

.status-row {
  margin: auto;
  width: 240px;
  display: flex;
}
