<div class="main-title">
  Pathtracer WebGL
</div>

<md-toolbar [color]="accent" class="toolbar">
  <div style="margin:auto;">
    <button md-button class="toolbar-button" (click)="changePane(0)">Render settings</button>
    <button md-button class="toolbar-button" (click)="changePane(1)">Post effects</button>
    <button md-button class="toolbar-button" (click)="changePane(2)">Objects</button>
    <button md-button class="toolbar-button" (click)="changePane(3)">Materials</button>
    <button md-button class="toolbar-button" (click)="changePane(4)">Camera</button>
  </div>
</md-toolbar>

<div id="main-content">
  <table>
    <tr>
      <td width="194px">
        <render-settings [hidden]="_selctedPane != 0"></render-settings>
        <post-effects-pane [hidden]="_selctedPane != 1"></post-effects-pane>
      </td>

      <td width="512px">
        <md-card class="render-card">
          <canvas id="render-canvas"></canvas>
        </md-card>
      </td>

      <td width="194px">
        <object-pane [hidden]="selectedObject == null"></object-pane>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td width="194px"></td>

      <td width="256px">
        <div class="play-buttons">
          <button md-icon-button  (click)="renderService.start()">
            <md-icon class="md-24" style="color:#666;">play_arrow</md-icon>
          </button>
          <button md-icon-button (click)="renderService.pause()">
            <md-icon class="md-24" style="color:#666;">pause</md-icon>
          </button>
          <button md-icon-button (click)="renderService.restart()">
            <md-icon class="md-24" style="color:#666;">replay</md-icon>
          </button>
        </div>
      </td>

      <td width="256px">
        <div class="status-row">
          <div style="width: 70px">
            <div id="render-progress-container"></div>
          </div>
          <div class="render-info-text">
            <!--<span id="fps-count">{{renderService.samplesPerSecond}}</span> samples/second.-->
            <span id="total-samples">{{renderService.renderSamples}} / 5000 </span> samples.
          </div>
        </div>
      </td>

      <td width="194px"></td>
    </tr>
  </table>
</div>


