<md-list style="height:512px;">
  <div class="main-list-header" style="">
    Selected object
  </div>
  <div class="list-header" style="">
    Position
  </div>
  <md-list-item style="margin-top: 10px;">
    <table style="width: 100%" cellspacing="0" style="padding-top: 10px;">
      <tr>
        <td><md-input placeholder="X" style="width: 100%" dividerColor="accent" color="accent" value="{{selectedObject && selectedObject?.position[0]}}"></md-input></td>
        <td><md-input placeholder="Y" style="width: 100%" dividerColor="accent" color="accent" value="{{selectedObject && selectedObject?.position[1]}}"></md-input></td>
        <td><md-input placeholder="Z" style="width: 100%" dividerColor="accent" color="accent" value="{{selectedObject && selectedObject?.position[2]}}"></md-input></td>
      </tr>
    </table>
  </md-list-item>

  <div class="list-header" style="">
    Scale
  </div>
  <md-list-item style="margin-top: 10px;">
    <table style="width: 100%" cellspacing="0" style="padding-top: 10px;">
      <tr>
        <td><md-input placeholder="X" style="width: 100%" dividerColor="accent" color="accent" value="0"></md-input></td>
        <td><md-input placeholder="Y" style="width: 100%" dividerColor="accent" color="accent" value="0"></md-input></td>
        <td><md-input placeholder="Z" style="width: 100%" dividerColor="accent" color="accent" value="0"></md-input></td>
      </tr>
    </table>
  </md-list-item>

  <div class="list-header" style="">
    Rotation
  </div>
  <md-list-item style="margin-top: 10px;">
    <table style="width: 100%" cellspacing="0" style="padding-top: 10px;">
      <tr>
        <td><md-input placeholder="X" style="width: 100%" dividerColor="accent" color="accent" value="0"></md-input></td>
        <td><md-input placeholder="Y" style="width: 100%" dividerColor="accent" color="accent" value="0"></md-input></td>
        <td><md-input placeholder="Z" style="width: 100%" dividerColor="accent" color="accent" value="0"></md-input></td>
      </tr>
    </table>
  </md-list-item>

  <div class="main-list-header" style="margin-top: 20px">
    Selected material
  </div>
  <div class="list-header" style="">
    Color
  </div>
  <md-list-item style="margin-top: 10px;">
    <table style="width: 100%" cellspacing="0" style="padding-top: 10px;">
      <tr>
        <td><md-input (input)="redChannelChanged($event)" placeholder="R" style="width: 100%" dividerColor="accent" color="red" value="{{selectedObject && selectedObject?.material?.color[0]}}"></md-input></td>
        <td><md-input (input)="greenChannelChanged($event)" placeholder="G" style="width: 100%" dividerColor="accent" color="green" value="{{selectedObject && selectedObject?.material?.color[1]}}"></md-input></td>
        <td><md-input (input)="blueChannelChanged($event)" placeholder="B" style="width: 100%" dividerColor="accent" color="blue" value="{{selectedObject && selectedObject?.material?.color[2]}}"></md-input></td>
      </tr>
    </table>
  </md-list-item>
  <div class="list-header" style="">
    Emission rate
  </div>
  <md-list-item style="margin-top: 10px;">
    <md-input (input)="emissionRateChanged($event)" style="width: 100%" dividerColor="accent" value="{{selectedObject && selectedObject?.material?.emission_rate}}"></md-input>
  </md-list-item>

</md-list>
