/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

app-root {
  position: absolute;
  height: 100%;
  width: 100%;
}

md-divider {
  color: #ddd;
}

.md-input-element {
  color: #555555 !important;
  font-weight: 200 !important;
}

.list-header {
  font-weight: 200;
  height: 20px;
  margin-top: 15px;
  margin-left: 10px;
  font-size: 11pt;
  color: #555;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-list-header {
  font-weight: 100;
  height: 20px;
  margin-top: 0px;
  margin-left: 10px;
  font-size: 15pt;
  color: #555;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
